
/* master styles  */

body{
    font-family: sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}


/* Nav styles  */


.nav-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    
    justify-content: space-between;
    padding: 20px;
}
.nav-wrapper{
    background-color: rgb(255, 255, 255);
    position: -webkit-sticky;
	position: sticky;
	top: 0;
    z-index: 99999;

}

.left-side{
    display: flex;
    justify-content: space-between;
}

.nav-wrapper > .left-side > div{
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 18px;
}

.nav-link-wrapper{
    height:10px;
}

.nav-link-wrapper a{
    color: #75c1ff;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper :hover{
    border-bottom:1px solid white;

}

.nav-link-wrapper :hover{
    border-bottom:1px solid white;
}

.nav-link-wrapper a:hover{
    color: white;
}

/* //create mobile menu button */
.bar1, .bar2, .bar3 {
    padding-left: 2em;
    width: 35px;
    height: 5px;
    background-color: rgb(0, 0, 0);
    margin: 5px 10px;
    margin-left: 2em;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
  .menu-container {
    display: inline-block;
    cursor: pointer;

  }
  /* //create menu popup button */
.test-center{
      position: fixed;
      top: 50%;
      left: 50%;
  }

.test-overlay{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;

}
.test-overlay-content{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.test-overlay a{
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #000000;
    display: block;
    transition: 0.3s;
}
.test-overlay a:hover{
    color: rgb(163, 163, 163);

}
.test-overlay .test-close{
    position: absolute;
    top: 5px;
    right: 50px;
    font-size: 60px;
}


/* .active-nav-link{ 
    border-bottom: 1px solid white;
} */

.active-nav-link a{
    color: rgb(82, 137, 255) !important;
}
.nav-wrapper .right-side .brand{
    color: #fff;
}

/* mega menu styles */

.heading p{
    text-align: center;
    margin:0;
    font-size: 24px;
    font-weight: 500;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: sans-serif;

} 
/* master nav styles */
/* makes so encrypto is in line with navigation bar */
*{
    margin:0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

.wrapper{
    width:100%;
}

/* return to nav styles */
  
.mega-menu{
    width: 100%;
    height: 60px;
    position: -webkit-sticky;
	position: sticky;
	top: 0;
    background-color: rgb(255, 255, 255);
    z-index: 99999;
}

.mega-menu ul{
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 58px;
    position: relative;
}
.mega-menu ul li{
    display: inline-block;
    margin: 0 15px;
    padding:0 15px;
}

.mega-menu ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 12px;
    display: block;
}

.mega-menu ul li .sub-menu {
    position: absolute;
    background-color: white;
    width: 100%;
    left:0;
    top: 60px;
    padding: 15px 15px;
    display: flex;
    justify-content: space-around;
    line-height: 24px;
    visibility: hidden;
}

.section{
    text-align: left;
    display: inline;
}
.mega-menu ul li:hover{
    border-bottom: 1px solid transparent;
    border-color: rgb(0, 0, 0);
    transition: 0;
}

.mega-menu ul li:hover a{
    color: #8a8a8a;
    transition: 0;
    
}

.mega-menu ul li:hover .sub-menu{
    visibility: visible;

}
.mega-menu ul li .sub-menu .col1 ul li{
    float: left;
    clear: left;
    text-decoration: none;
    color: black;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 12px;
    display: block;
}

.mega-menu ul li .sub-menu .col img{
    margin: 5px;
    width: 300px;
    height: 420px;
    display: block;
}

.mega-menu ul li .sub-menu .col2 img{
    margin: 5px;
    width: 250px;
    height: 300px;
    display: block;
}
.mega-menu ul li .sub-menu .col ul{
    text-align: left;
    text-indent: 10px;

}

.mega-menu ul li .sub-menu .col3{

    margin: 5px;
    padding: 5px;
}
.mega-menu ul li .sub-menu .col6{
    margin: 5px;
    padding: 5px;
}

.mega-menu ul li .sub-menu .col6 a{
    margin: 5px;
    padding: 5px;
    padding-bottom: 20px;
    color: black;
}
.mega-menu ul li .sub-menu .col6 a:hover{
    border-bottom: 1px solid black;
    transition: 0s;
}
.mega-menu ul li .sub-menu p{
    color: black;
    margin-top: 15px;
    font-size: 14px;
}

.mega-menu ul li .login, .register{
  margin-left: auto;
  display: inline-block;
  padding: 1px 1px 1px 1px;
  border-radius: 100px;
  background-color: rgb(82, 229, 255);
  color: #ffffff;
  transition: background-color 0.3s ease;
}

.mega-menu ul li .login, .register:hover {
  background-color: rgb(0, 81, 255);
  border: none;
  color: #000000;

}
/* Adding a parallax effect to the home page */
/* parralax effect */
.paralax-effect{
    margin: 0% 0%;
}
.paralax{
    background: url("assets/dogecoin.jpg")
    repeat fixed 100%;
    background-size: cover;
    margin-top: 10 10;
}
.paralax-inner{
    padding-top: 15%;
    padding-bottom: 15%;
}
.paralax-effect .paralax .paralax-inner h1{
    text-align: center;
    font-size: 500%;
    color: #fff;
    letter-spacing: 3px;
}

.paralax-effect .paralax2 .paralax-inner h1{
    text-align: center;
    font-size: 500%;
    color: rgb(0, 0, 0);
    letter-spacing: 3px;
} 


/* //hide nav bar */
@media only screen and (max-width: 310px) {
    .nav-wrapper{
        display:none;
    }
  }
  @media only screen and (max-width: 900px) {
    .mega-menu{
        display:none;
    }
  }
  @media only screen and (max-width: 375px) {
    .nav-wrapper .right-side{
        display:none;
    }
  }
  @media only screen and (max-width: 375px) {
    .nav-wrapper .right-side{
        display:none;
    }
  }
  .menu-container {display: none;} 



  @media only screen and (max-width: 1000px) {
    .menu-container {display: inline;}
}


/* //resize to two grids for medium screen */
@media (min-width: 850px) {
    .contain-gallery-image-and-desc-wrapper { 
        grid-template-columns: repeat(2, 1fr); }
  }
/* //resize to 3 grids for larger screen */
  @media (min-width: 960px) {
    .contain-gallery-image-and-desc-wrapper { 
        grid-template-columns: repeat(3, 1fr); }
  }

  /* //home page queries */

  @media (min-width: 700px) {
    .portfolio-items-wrapper{ 
        grid-template-columns: repeat(2, 1fr); }
  }
  @media (min-width: 700px) {
    .interviews-wrapper{ 
        grid-template-columns: repeat(2, 1fr); }
  }

/* going to create 1 grid for a sectiom */

.categories-wrapper{
    display: grid;
    grid-template-columns: 1fr;
}

/* //resize to two grids for large screens */
@media (min-width: 900px) {
    .categories-wrapper { 
        grid-template-columns: repeat(2, 1fr); }
  }
 
.category-wrapper{
    margin: 50px 30px;
    padding: 10px 10px;
    position: relative;
}
.categories-wrapper .category-wrapper .category-img img{
    width: 500px;
    height: 500px;
    display: block;
    margin: 3px;
}
.categories-wrapper .category-wrapper .category-img p{
    text-align: center;
    font-size: 30px;
    color: rgb(0, 0, 0);
    letter-spacing: 5px;
    font-size: 12px;
} 

.centered {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 5px;
    font-size: 25px;
  }

.go-now {
    color: #fff;
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, 50%);
    border-bottom: solid 3px white;
  }
  .go-now:hover {
    color: #8a8a8a;
}


.margin .go-button a{
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black;
    transition: border-bottom 0.5s;

}
.margin .go-button:hover a{
    color: #8a8a8a;
}

/* login form css */

::selection{
    background: #4158d0;
    color: #fff;
  }
  /* .loginwrapper{
    margin-left: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 500px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  } */
  .loginwrapper .title{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    line-height: 100px;
    color: #fff;
    user-select: none;
    border-radius: 15px 15px 0 0;
    background: linear-gradient(-135deg, #1eb632, rgb(82, 229, 255));
  }
  .loginwrapper {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1),
                0px -15px 20px rgba(0,0,0,0.1);
  }
  
  .loginwrapper form {
    padding: 5px 30px 50px 30px;
  }
  .loginwrapper form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
  }
  .loginwrapper form .field input{
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 17px;
    padding-left: 20px;
    border: 1px solid lightgrey;
    border-radius: 25px;
    transition: all 0.3s ease;
  }
  .loginwrapper form .field input:focus,
  form .field input:valid{
    border-color: #4158d0;
  }
  .loginwrapper form .field label{
    position: absolute;
    top: 50%;
    left: 20px;
    color: #999999;
    font-weight: 400;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
  }
  form .field input:focus ~ label,
  form .field input:valid ~ label{
    top: 0%;
    font-size: 16px;
    color: #4158d0;
    background: #fff;
    transform: translateY(-50%);
  }
  form .content{
    display: flex;
    width: 100%;
    height: 50px;
    font-size: 16px;
    align-items: center;
    justify-content: space-around;
  }
  form .content .checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  form .content input{
    width: 15px;
    height: 15px;
    background: red;
  }
  form .content label{
    color: #262626;
    user-select: none;
    padding-left: 5px;
  }
  form .content .pass-link{
    color: "";
  }
  form .field input[type="submit"]{
    color: #fff;
    border: none;
    padding-left: 0;
    margin-top: -10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(-135deg, #1aff39, rgb(82, 229, 255));
    transition: all 0.3s ease;
  }
  form .field input[type="submit"]:active{
    transform: scale(0.95);
  }
  form .signup-link{
    color: #262626;
    margin-top: 20px;
    text-align: center;
  }
  form .pass-link a{
    color: #4158d0;
    text-decoration: none;
  }
  .signup-link a{
    color: #000000;
    text-decoration: none;
    border: none;
    padding-left: 0;
    margin-top: -10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(-135deg, #1aff39, rgb(82, 229, 255));
    transition: all 0.3s ease;
    border-radius: 80%;
    width: 200px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  form .pass-link a:hover{
    text-decoration: underline;
  }
  form .signup-link a:hover{
    background: none;


  }

  /* * //new about page/sign up style */ */

.body-about{
    font-family: serif;
    display: grid;
    background-color: #f4f4f4;
    align-content: center;
    min-height: 100vh;
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 90vh;
    width: 85vw;
    margin: 0 auto;
}

.content-about{
    background: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.content-about h2{
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 6px;
}

.content-about span{
    height: 0.5px ;
    width: 80px;
    background: #777;
    margin: 30px 0;

}

.content-about p{
    padding-bottom: 15px;
    font-weight: 300;
    opacity: 0.7;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    line-height: 1.7;
}

.links-about{
    margin: 15px 0;
}
.links-about li{
    list-style: none;
    border: 0.5px solid #777;
    border-radius: 5px;
    padding: 10px 15px;
    width: 160px;
    text-align: center;
}

.links-about li a{
    text-transform: uppercase;
    color: #777;
    text-decoration: none;
}
.links-about li:hover{
    border-color: #006;
}
.links-about li:hover a{
    color: #006;
}

.vertical-line-about{
    height: 30px;
    width: 0.5px;
    background: #777;
    margin: 0 auto;
}
@media(max-width: 992px){
    section{
        grid-template-columns: 1fr;
        width: 100%;
    }
    .image-about{
        height: 100vh;
    }
    .content-about{
        height: 100vh;
    }
    .content-about h2{
        font-size: 20px;
        margin-top: 50px;
    }
    .content-about span{
        margin: 20px 0;
    }
    .content-about p{
        font-size: 14px;
    }
    .links-about a{
        font-size: 14px;
    }
    .links-about{
        margin: 5px 0;
    }
    .links-about li{
        padding: 6px 10px;
    }
}

/* Styling for tables */
.market table{
    border-collapse: collapse;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
  
.market th, .market td{
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
  
.market th{
    background-color: #0077b6;
    color: white;
}
  
.market tr:nth-child(even){
    background-color: #f2f2f2;
}
  
.market tr:hover{
    background-color: #e6f7ff;
}

.market h2{
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 6px;
}

/* user logged in styles */
.padding-layer {
    padding: 0 50px;
    max-width: 1200px;
    margin: 0 auto;
}

.user-dashboard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 90px;
    background-color: #f5f5f5;
  }
  
  .profile-picture {
    margin-right: 30px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .username {
    font-size: 24px;
    font-weight: bold;
  }
  
  .notifications {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 30px;
  }
  
  .notifications i {
    font-size: 24px;
    color: #4158d0;
    margin-right: 5px;
  }
  
  .notifications .badge {
    background-color: #4158d0;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 20px;
  }
  
  .balance {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
  }
  
  .user-transaction-buttons {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
  }
  
  .transaction-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #4158d0;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .transaction-button:hover {
    background-color: #243676;
  }
  
  .buy-button {
    width: 60px;
    height: 60px;
    margin-left: 90px;
    margin-right: 575px;
  }
  
  .view-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    text-align: center;
    margin-top: 30px;
  }
  
  .crypto-view,
  .fiat-view {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 50px 30px;
    text-align: center;
  }
  
  .crypto-title,
  .fiat-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .crypto-box,
  .fiat-box {
    margin-top: 20px;
  }
  
  .crypto-box img {
    max-width: 100%;
    height: auto;
  }
  
  @media (min-width: 850px) {
    .user-dashboard {
      padding: 20px 150px;
    }
  
    .user-transaction-buttons {
      margin-top: 0;
      margin-left: auto;
      margin-right: 150px;
    }
  
    .crypto-view,
    .fiat-view {
      padding: 50px;
    }
    
    .crypto-view {
      grid-column: 1 / span 1;
    }
  
    .fiat-view {
      grid-column: 2 / span 1;
    }
  }

.center {
    text-align: center;
}
